In [1]:
import sqlite3
import pandas as pd
from sqlite3 import Error
from datetime import datetime

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [3]:
connection = create_connection("SQL_client_data.db")

Connection to SQLite DB successful

In [4]:
df=pd.read_csv('client.csv', sep=';')
df.head()

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

In [5]:
df['birth_number']= pd.to_datetime(df['birth_number'],unit='s')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_id     5369 non-null   int64
 1   birth_number  5369 non-null   datetime64[ns]
 2   district_id   5369 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 126.0 KB

In [6]:
df.head()

   client_id        birth_number  district_id
0          1 1970-01-09 04:10:13           18
1          2 1970-01-06 05:03:24            1
2          3 1970-01-05 16:46:49            1
3          4 1970-01-07 11:53:21            5
4          5 1970-01-08 00:15:03            5

In [8]:
df.to_sql(name='client_info', con=connection)

5369

In [9]:
query = """SELECT * FROM sqlite_master;"""
db=pd.read_sql(query, con=connection)
db[db['type']=='table']

,type,name,tbl_name,rootpage,sql
0,table,client,client,2,"CREATE TABLE ""client"" (\n""index"" INTEGER,\n ""..."
2,table,client_info,client_info,43,"CREATE TABLE ""client_info"" (\n""index"" INTEGER,..."

In [10]:
for i in db[db['type']=='table']['sql']:
    print(i)

CREATE TABLE "client" (
"index" INTEGER,
  "client_id" INTEGER,
  "birth_number" INTEGER,
  "district_id" INTEGER
)
CREATE TABLE "client_info" (
"index" INTEGER,
  "client_id" INTEGER,
  "birth_number" TIMESTAMP,
  "district_id" INTEGER
)